@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
	font-family: OpenSans;
}


svg {
	display: block;
	margin: auto;
	align-items:center;
}

.data-bar {
	fill: #0099FF;
	stroke-width: 0px;
	stroke: black;
}

h2, p.annotation, g.controls {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center
}

p.annotation {
	height: 60px;
	width: 600px;
}

.fa-pause, .fa-play {
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 20px;
}